.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.lof
*.lot
*.toc
*.log
*.bbl
*.DS_Store
*Rplots.pdf
*cache
*.Rapp.history
docs/model-description/tables*/
docs/model-description/figs*/
data-raw/figs*/
data-raw/tables*/
docs/articles/output.RData
data-raw/nma-raw*/
vignettes/output.RData
